.login {
  &__divider {
    .ant-divider-horizontal.ant-divider-with-text {
      margin: 0;
      padding-top: 41px;
    }
    .ant-divider-inner-text {
      font-family: "LightCereal";
      color: var(--shade-N800);
      font-size: 12px;
    }
  }
}
