input {
  @apply text-6xl-medium;
  height: 41px;
  border-radius: 7px;
  padding: 15px;

  &.ant-input-outlined {
    background: var(--shade-N400);
    border: none;

    &:hover {
      background: var(--shade-N500);
    }

    &:focus-within {
      box-shadow: none;
      background: var(--shade-N400);
    }
  }
}
